html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.errorConexio {
  color: red;
  font-weight: 900;
  font-size: xx-large;
}

.monedes-section {
  display: flex;
  flex-wrap: wrap;
}

.monedes-section > * {
  flex: 1 1 250px;
  margin: 1rem;
}

.moneda-figure {
  background-color: crimson;
  color: chartreuse;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.moneda-figure:hover {
  opacity: 0.9;
  transform: scale(0.9);
}

.moneda-figure img {
  max-width: 100%;
  height: auto;
}

.moneda-figure figcaption {
  padding: 1rem;
}
