html {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
  font-family: inherit;
}

.imatge {
  height: 500px;
}

img {
  width: 20%;
  height: 45%;
}

table {
  width: 50%;

  border: medium solid black;
}

table td {
  text-align: center;
  border: medium solid black;
}
